$white: #FFFFFF;
$black: #000000;

$gris: #eeeeee;
$gris-clair: #e0e0e0;
$gris-gris: #6B8B9B;

$bleu-gris: #456789;
$bleu-fonce: #123456;

$bleu: #205d91;
$rouge: #c6171e;

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$vollkorn: 'Vollkorn', serif;
$openSans: 'Open Sans', sans-serif;